.dev-query, .dev-timer, .dev-memory-usage {
  padding-top: 2em;
}
/*
     FILE ARCHIVED ON 09:51:35 Sep 27, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:10:40 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 410.633
  exclusion.robots: 0.069
  exclusion.robots.policy: 0.062
  cdx.remote: 0.068
  esindex: 0.009
  LoadShardBlock: 382.861 (3)
  PetaboxLoader3.resolve: 359.709 (4)
  PetaboxLoader3.datanode: 64.278 (4)
  load_resource: 47.874
*/