.dev-query, .dev-timer, .dev-memory-usage {
  padding-top: 2em;
}
/*
     FILE ARCHIVED ON 03:08:05 Nov 05, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:14:32 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 210.952
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.077
  cdx.remote: 0.058
  esindex: 0.007
  LoadShardBlock: 182.579 (3)
  PetaboxLoader3.datanode: 129.244 (5)
  PetaboxLoader3.resolve: 190.272 (4)
  load_resource: 163.911 (2)
*/