.ctools-locked{color:red;border:1px solid red;padding:1em;}.ctools-owns-lock{background:#ffffdd none repeat scroll 0 0;border:1px solid #f0c020;padding:1em;}a.ctools-ajaxing,input.ctools-ajaxing,button.ctools-ajaxing,select.ctools-ajaxing{padding-right:18px !important;background:url(/web/20210920032821im_/https://opensource.org/sites/all/modules/ctools/images/status-active.gif) right center no-repeat;}div.ctools-ajaxing{float:left;width:18px;background:url(/web/20210920032821im_/https://opensource.org/sites/all/modules/ctools/images/status-active.gif) center center no-repeat;}

/*
     FILE ARCHIVED ON 03:28:21 Sep 20, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:26:02 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 192.103
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.058
  cdx.remote: 0.051
  esindex: 0.008
  LoadShardBlock: 114.758 (3)
  PetaboxLoader3.datanode: 73.848 (4)
  load_resource: 887.155
  PetaboxLoader3.resolve: 877.89
*/