/* $Id: comment.css,v 1.1.2.2 2007/07/24 18:38:58 drumm Exp $ */

.indented {
  margin-left: 25px;
}
.comment-unpublished {
  background-color: #fff4f4;
}
.preview .comment {
  background-color: #ffffea;
}

/*
     FILE ARCHIVED ON 17:12:59 Nov 03, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:24:20 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 79.426
  exclusion.robots: 0.076
  exclusion.robots.policy: 0.066
  cdx.remote: 0.061
  esindex: 0.008
  LoadShardBlock: 45.718 (3)
  PetaboxLoader3.datanode: 199.78 (4)
  load_resource: 247.435
  PetaboxLoader3.resolve: 64.892
*/