.dev-query, .dev-timer, .dev-memory-usage {
  padding-top: 2em;
}
/*
     FILE ARCHIVED ON 09:51:35 Sep 27, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:24:19 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 106.179
  exclusion.robots: 0.099
  exclusion.robots.policy: 0.088
  cdx.remote: 0.07
  esindex: 0.008
  LoadShardBlock: 78.588 (3)
  PetaboxLoader3.datanode: 98.867 (4)
  load_resource: 54.148
  PetaboxLoader3.resolve: 29.141
*/