.dev-query, .dev-timer, .dev-memory-usage {
  padding-top: 2em;
}
/*
     FILE ARCHIVED ON 03:08:05 Nov 05, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:23:01 Feb 18, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 69.702
  exclusion.robots: 0.112
  exclusion.robots.policy: 0.101
  RedisCDXSource: 0.764
  esindex: 0.008
  LoadShardBlock: 48.717 (3)
  PetaboxLoader3.datanode: 54.575 (5)
  load_resource: 121.199 (2)
  PetaboxLoader3.resolve: 80.727 (2)
*/